/** Font */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
h4{
  color: #FFFFFF;;
  text-align: center;
}
body {
    background-color: #E8E8E8;
}
/*** Table Styles **/
.tabletime {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  table-layout:fixed;
  max-width: 100%;
  padding:5px;
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
.tableenroll {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 100%;
  padding:5px;
  width: 700;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#FFFFFF;;
  background:#333;
  border-right: 1px solid #343a45;
  border-bottom:2px solid #4CAF50;
  font-size:14px;
  font-weight:100;
  padding:15px;
  text-align:left;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
  vertical-align:middle;
}

th::first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:14px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
/* 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 */
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  /*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);*/
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}
/*td:first-child {
  color:#D5DDE5;;
  border-right: 0px;
  background: #1b1e24;
}*/

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
td.subject {
  color: #FFFFFF;;
  text-align: center;
  background: #4CAF50;
}
td.daytime {
  color: #FFFFFF;;
  text-align: center;
  background: #333;
  font-size: 14px;
}
.textnote
{
  color:#1b1e24;
  text-align:justify;
  font-size:14px;       
}
/*** Table Styles **/
.center{
  align-items: center;
}

/** Navigation Bar ***/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li b {display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* gallery */
div.img {
    margin: 5px;
    border: 1px solid #FFFFFF;
    float: left;
    width: 225px;
}

div.img:hover {
    border: 1px solid #111;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
  color: #333;;
    padding: 15px;
    text-align: center;
    background-color:#FFFFFF ;
}

div.picme {
  height: 320;
  width: 240;
  margin: auto;
  border: 5px solid #FFFFFF;
}

footer { 
    display: block;
}

div.box {
    width: 320px;
    padding: 10px;
    border: 5px solid #FFFFFF;
    margin: auto;
    background: #333
}
